<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet"  href="css/styles.css">
  <link rel="icon" href="https://img.icons8.com/ios/64/000000/rocket--v2.png" />

  <title>To Do List</title>

</head>

<body>
