<div id="mySidenav" class="sidenav">
  <a href="/">Today</a>
  <%lists.forEach(function(list){%>
      <a href="/<%= list.name%>"><%= list.name %></a>
  <% }) %>

<form class="" action="/redirect_page" method="post">
  <input name="newList" type="texts" placeholder="New List" autocomplete="off"></input>
  <button type="submit" class="myButton">Add List</button>

</form>


</div>

<!-- Use any element to open the sidenav -->

<script>
  function myFunction() {
    var list = prompt("Please enter a name for your list: ");
    if (list != null) {
      document.getElementById("demo").innerHTML =  person ;
    }
  }

function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
